.ad-videos{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5%;
  padding-top: 5%;

  div{
    margin: 0 5%;
  }
}

#exoclickVideo1{
  width: 100%;
}

.cam-model__content-side-banner{
  margin-left: 5%;

  .side-banner{
    display: flex;
    flex-direction: column;
    margin: 0;

    @include small{
      display: none;
    }
  }
}
