@import url('https://fonts.googleapis.com/css?family=Armata');

.cam-model__group{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .cam-model__container{
    padding: 1em;
    position: relative;
    height: auto;

    @media screen and (min-width: 2px) and (max-width: 599px){
      width: 100%;
    }


    @media screen and (min-width: 600px) and (max-width: 1225px){
      width: 33%;
    }

    @media screen and (min-width: 1226px){
      width: 25%;
    }

    .hd-icon {
      top: 0;
      right: 0;
      height: 2em;
      position: absolute;
      z-index: 2;
    }

    .cam-model__details--username{
      float: left;

      a{
        font-family: 'Armata', sans-serif;
        opacity: 1;
        color: white;
      }
    }

    .cam-model__details--current-show{
      float: right;
    }

    .cam-model__details{
      transition: .2s ease;
      opacity: 0;
      position: absolute;
      background-color: rgba(16,15,6,0.45);;
      z-index: 9;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-top: 10%;
      color: white;

      &:hover{
        opacity: 1;
      }

      .cam-model__metainfo{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        span{
          font-family: 'Armata', sans-serif;
        }

        img{
          height: 1em;
        }
      }

      .cam-model__subject{
        width: 80%;
        margin: 0 auto;
        text-shadow: 1px 1px 2px black;
      }
    }
  }
}

.ad-videos{
  display: flex;
  flex-direction: row wrap;
  margin-top: 5%;
  padding-top: 5%;
  border-top: solid $brown-sugar;

  div{
    width: 25%;
  }
}

#infinite-scrolling{
  .pagination{
    a, em, span{
      opacity: 0;
    }
  }

  .infinite-loader{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .loader-icon{
      height: 2rem;
    }
    h6{
      font-family: 'Armata', sans-serif;
      font-size: 0.8rem;
    }
  }
}


#age_start,
#age_end,
#view_start,
#view_end {
  width: 5em !important;
}

#index-search-input {
  padding-top: 2em;
}
