#nav-search-input {
  position: absolute;
  top: 0;
  left: 380px;
  width: 50%;
}

.character-counter {
  position: absolute;
  right: 0;
  top: 0;
}

#index-search-input {
  padding-top: 2em;
}

#search-icon{
  top: 15%;
  font-size: 2.5rem;
}
