.nav{
  background-color: black;
  width: 100%;

  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    #tightfit{
      padding: 0 3%;

      img{
        height: 5rem;
      }

      @include small{
        padding: 0;
        margin: 0 auto;
      }
    }

    .searchbar {
      flex: 1;

      #search-icon {
        top: 15%;
        font-size: 2.5rem;
      }

      .input-field{
        max-width: 800px;
      }

      @include medium{
        margin-right: 8%;
      }
    }

    .explore-button{
      padding: 0 1%;
      margin-left: 8%;

      span{
        color: white;
        position: relative;
        float: left;
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover{
        background-color: $brown-sugar;
      }

      @include medium {
        display: none;
      }

      @include small{
        display: none;
      }
    }

    @include small{
      flex-direction: column;
      justify-content: center;
      margin: 0 5%;
    }
  }
}

#index-search-input {
  padding-top: 2%;
  padding-bottom: 1%;
  padding-right: calc(5% + 1em);

  .filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1000px;


    .filters__age {
      display: flex;
      @include small {
        margin: 0 5%;
      }
    }

    .filters__viewers {
      display: flex;
      @include small {
        margin: 0 5%;
      }
    }

    .filters__gender {
      display: flex;
      flex-direction: column;
      @include small {
        margin: 0 7%;
      }
    }

    .filters__ishd {
      display: flex;
      @include small {
        margin: 0 5%;
      }
    }
  }
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 950px;
}

.character-counter {
  position: absolute;
  right: 0;
  top: 0;
}

#age_start,
#age_end,
#view_start,
#view_end {
  width: 5em !important;
}

#index-search-input {
  padding-top: 2em;
}
