.nav{
  background-color: black;
  width: 100%;

  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    #tightfit{
      padding: 0 3%;

      img{
        height: 5rem;
      }

      @include small{
        padding: 0;
        margin: 0 auto;
      }
    }

    .searchbar {
      flex: 1;

      #search-icon {
        top: 15%;
        font-size: 2.5rem;
      }

      .input-field{
        max-width: 800px;
      }

      @include medium{
        margin-right: 8%;
      }
    }

    .explore-button{
      padding: 0 1%;
      margin-left: 8%;

      span{
        color: white;
        position: relative;
        float: left;
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover{
        background-color: #C7884E;
      }

      @include medium {
        display: none;
      }

      @include small{
        display: none;
      }
    }

    @include small{
      flex-direction: column;
      justify-content: center;
      margin: 0 5%;
    }
  }
}
