.cam-model {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 1em;
  
  .cam-model__details {
    display: flex;
    justify-content: space-between;

    .cam-model__details--username {
      font-weight: bold;
    }
  }
  
  .cam-model--hd {
    padding: 1em 0;
  }
  
  .cam-model--nonhd {
    padding: 1em 0;
  }
}
