.cam-model {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5em;

  .cam-model__details {
    display: flex;
    justify-content: space-between;

    .cam-model__details--username {
      font-weight: bold;
    }
  }
  
  .cam-model--hd {
  }
  
  .cam-model--nonhd {
  }
}

#age_start,
#age_end,
#view_start,
#view_end {
  width: 5em !important;
}
