
// https://coolors.co/f1ffe7-9e9e9e-54442b-a9714b-e8985e
$shale-white: #F1FFE7;
$placeholder-grey: #9e9e9e;
$horses: #54442B;
$brown-sugar: #A9714B;
$big-foot-feet: #E8985E;

// https://coolors.co/fcaa67-b0413e-57a773-ffffc7-536271
$pale-spring-green: #57A773;
$steel-grey: #536271;
$privacy-red: #B0413E;
