<div class="container">
  <h1>TightFit</h1>
  <p>
    Fitting Porn Into Your Tight Schedule
  </p>

  <video src="/videos/high_quality.mp4" controls>
    Your browser does not support the video tag.
  </video>
  <video src="/videos/low_quality.mp4" controls>
    Your browser does not support the video tag.
  </video>

<iframe width="560" height="315" src="https://www.youtube.com/embed/WYYvHb03Eog" frameborder="0" allowfullscreen></iframe>

<a id='videoOverlay' href='http://www.georgewli.com'><iframe src="https://www.pornhub.com/embed/ph5991c8c0c0a30" frameborder="0" width="560" height="315" scrolling="no" allowfullscreen></iframe></a>

  <a class="waves-effect waves-light btn">High Quality</a>
  <a class="waves-effect waves-light btn">Low Quality</a>
</div>
