.container
  %h1 TightFit
  %p fitting porn into your tight schedule

  - 5.times do
    %video{ controls: true, width: "320", height: "240" }
      %source{ src: @videos.sample.link, type: "video/mp4" }

  %a.waves-effect.waves-light.btn High Quality
  %a.waves-effect.waves-light.btn Low Quality
