<h1>TightFit</h1>
<p>
  Fitting Porn Into Your Tight Schedule
</p>

<video src="/videos/high_quality.mp4" controls>
  Your browser does not support the video tag.
</video>
<video src="/videos/low_quality.mp4" controls>
  Your browser does not support the video tag.
</video>


<a class="waves-effect waves-light btn">High Quality</a>
<a class="waves-effect waves-light btn">Low Quality</a>
