<!-- Chaterbates top chat room iframe: (we get $1 per sign up from this) -->
<!-- <iframe src='https:\/\/chaturbate.com\/affiliates\/in\/?tour=NxHf&campaign=9RAIT&track=embed&bgcolor=transparent&disable_sound=1&embed_video_only=0&target=_parent' height=523 width=850 style='border: none;'></iframe> -->

<div id="cam-model-list">
  <div class="cam-model__group">
    <%= render @cam_models %>
  </div>
</div>
<div id="infinite-scrolling">
  <%= will_paginate %>
</div>
<hr width="98%">
<div class="ad-videos">
  <!-- Activate fluidplayer -->
  <div>
    <video id='exoclickVideo1' controls>
      <source src='exoclick_advideo1.mp4' type='video/mp4' />
    </video>
  </div>
  <div>
    <script type="text/javascript" src="https://ads.exosrv.com/invideo.js"></script>
    <script type="text/javascript">var exoOpts = {cat:'2',login:'tightfitcams',idzone_300x250:'2822642',idsite:'698832',preroll:{},pause:{},postroll:{},show_thumb:'1'};var testVideo=fluidPlayer('exoclickVideo1');</script>
    <div id='crakrevenue'>
      <img src="https://t.frtyt.com/4c04f6f2iq?offer_id=4093&aff_id=58348&bo=2745,2746,2748,2749,2750&file_id=243318" width="1" height="1" />
    </div>
  </div>
</div>
