<!DOCTYPE html>
<html>
  <head>
    <title>Tightfit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="//cdn.popcash.net/pop.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108122519-1"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript">
      // Popcash
      var uid = '177959';
      var wid = '383255';

      // Global site tag (gtag.js) - Google Analytics
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-108122519-1');

      // Google Adsense
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9798034887311128",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>
    <div class="hide-for-small-only">
      <div id="navWrapper">
        <a href="/">
          <i class="medium material-icons">personal_video</i>
          <label>main</label>
        </a>
        <a href="/live">
          <i class="medium material-icons">filter_center_focus</i>
          <label>live cams</label>
        </a>
        <a href="#420" class="cd-top waves-effect.waves-orange">
          <i class="medium material-icons">expand_less</i>
          <label>top<label>
        </a>
      </div>

      <div class="main-container">
        <div class="container">
          <%= yield %>
        </div>
        <div class="right-container">
          <p>ads belong here.</p>
          <p>Hate popups? Refer a friend and we'll disable them for you.</p>
        </div>
      </div>
    </div>
  </body>
</html>
